# Table -- Customer

create table customer
( customerid int not null,
name varchar(100),
email varchar(100) )

In [ ]:
insert into customer values (101,'Venky','venky@gmail.com'),
(102,'Aviraj','aviraj@gmail.com'),
(103,'Deepak','deepu@gmail.com')

In [ ]:
insert into customer values (105,'Raj','raj@gmail.com'),
(106,'Rohan','rohan@gmail.com')
select * from customer

In [ ]:
select * from customer

customerid   name         email
101         Venky    venky@gmail.com
102         Aviraj    aviraj@gmail.com
103         Deepak   deepu@gmail.com
105          Raj       raj@gmail.com
106         Rohan    rohan@gmail.com

## Table -- OrderDetails

In [ ]:
create table OrderDetails
( 
orderid int not null,
customerid int,
item varchar(25) 
)

In [ ]:
insert into OrderDetails values (2, 102, 'Laptop'),
(4,103,'Printer'), (7,101,'Charger')
insert into OrderDetails values (12, 114, 'Bag')

In [ ]:
select * from OrderDetails

In [ ]:
orderid    customerid    item
2            102        Laptop
4            103        Printer
7            101        Charger
12           114          Bag

# Inner Join

In [ ]:
Intersection between Two Tables

In [ ]:
select * from customer
inner join OrderDetails
on customer.customerid = OrderDetails.customerid

In [ ]:
customerid       name      email       orderid       customerid  item
101             Venky    venky@gmail.com  7             101      Charger
102            Aviraj   aviraj@gmail.com  2             102      Laptop
103            Deepak   deepu@gmail.com   4             103      Printer

In [ ]:
select customer.customerid, customer.name, customer.email,
OrderDetails.orderid, OrderDetails.item
from customer
inner join OrderDetails
on customer.customerid = OrderDetails.customerid

In [ ]:
customerid     name    email               orderid      item
101            Venky   venky@gmail.com        7        Charger
102           Aviraj  aviraj@gmail.com        2         Laptop
103           Deepak   deepu@gmail.com        4         Printer

# Right Outer Join

In [ ]:
Everything of the Right Table and it's match in the left table.

# Left Outer Join

In [ ]:
Everything of the Left Table and it's match in the right table.

# Full Outer Join

In [ ]:
Left + Right Table Both 

1    April     23     Printer    Patna
2   May        25     Null       Delhi
Null Null      Null   Bag        Noida

# Cross Join

In [ ]:
Student     StudentId
Ram           23
Shyam         45
Raheem        98

In [ ]:
Subject      SubCode
Maths         4324
English       3434

In [ ]:
Cross Join
Studnet     StudentId    Subject    SubCode
Ram            23            Maths      4324
Ram            23            English    3434
Shyam          45            Maths      4324
Shyam          45            English    3434
Raheem         98            Maths      4324
Raheem         98            English    3434