# Copying data from one table to another

In [ ]:
SELECT column1, column2, column3, ...
AS Name, Roll, Id, ......
INTO newtable [IN externaldb]
FROM oldtable
WHERE condition;

# Copy Just the schema of one table into another

In [ ]:
SELECT * INTO newtable
FROM oldtable
WHERE 1 = 0;

# INSERT INTO SELECT

In [ ]:
INSERT INTO SELECT requires that data types in source and target tables match
The existing records in the target table are unaffected

In [ ]:
INSERT INTO table2 (column1, column2, column3, ...)
SELECT column1, column2, column3, ...
FROM table1
WHERE condition;

# COALESCE = IFNULL

In [ ]:
SELECT ProductName, UnitPrice * (UnitsInStock + IFNULL(UnitsOnOrder, 0))
FROM Products

In [ ]:
SELECT ProductName, UnitPrice * (UnitsInStock + COALESCE(UnitsOnOrder, 0))
FROM Products

## CREATE DATABASE databasename;
## DROP DATABASE databasename;
## SHOW DATABASES;

In [ ]:
ALTER TABLE table_name
ADD column_name datatype;

In [ ]:
ALTER TABLE table_name
ALTER COLUMN column_name datatype;

# SQL Constraints

In [ ]:
SQL Constraints
SQL constraints are used to specify rules for the data in a table.

Constraints are used to limit the type of data that can go into a table. 
This ensures the accuracy and reliability of the data in the table. 
If there is any violation between the constraint and the data action, the action is aborted.

Constraints can be column level or table level. Column level constraints apply to a column, 
and table level constraints apply to the whole table.

The following constraints are commonly used in SQL:

# Types of Constraint

In [ ]:
The following constraints are commonly used in SQL:

NOT NULL - Ensures that a column cannot have a NULL value
UNIQUE - Ensures that all values in a column are different
PRIMARY KEY - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table
FOREIGN KEY - Uniquely identifies a row/record in another table
CHECK - Ensures that all values in a column satisfies a specific condition
DEFAULT - Sets a default value for a column when no value is specified
INDEX - Used to create and retrieve data from the database very quickly