# DELETE, DROP, TRUNCATE

In [ ]:
Delete ------------->>> DML command
Drop, Truncate ----->>> DDL command

Delete (DML)  

delete from tablename
where <condition>        // deletes particular record.

delete from tablename    // deletes entire rows. 

-------->>> Where clause can be used.
-------->>> Commit and Rollback ----------->> Aloowed
-------->>> Slower

# Truncate

In [ ]:
# Truncate (DDL)
Truncate ------->> Delete entire rows of a table

Truncate Table TableName;

--------->> Where clause isn't used.
--------->> No rollback and commit is allowed.
--------->> Faster

# Drop

In [ ]:
# Drop (DDL)
Drops the table.
It drops the table structure, attributes, views, indexes and everything.

Drop Table TableName

# Union Vs Union All

In [ ]:
The UNION operator is used to combine the result-set of two or more SELECT statements.

Each SELECT statement within UNION must have the same number of columns
The columns must also have similar data types
The columns in each SELECT statement must also be in the same order

In [ ]:
The UNION operator selects only distinct values by default. 
To allow duplicate values, use UNION ALL

In [ ]:
Section7                     Section8
Sub    Teacher              Subject     Faculty
DBMS     Raj              DBMS           Rohan
OS       Raj               Network       Amit
Compiler Ankit             Compiler       Raj
C++      Apoorva           C++           Apoorva

In [ ]:
Select Sub, Teacher from Section7
Union 
Select Subject, Teacher From Section8

# Entity Integrity Vs Refrential Integrity

In [ ]:
Entity Integrity ensures that any operation creating duplicate values or null value for P.K is rejected.

Refrential Integrity ensures that the link between tables aren't broken.

# Primary Key Vs Unique Key

In [ ]:
P.K                                U.K
'No null value is accepted'      'At most 1 null is allowed'
'Enusres entity intgrity'        'Ensures that every value in a column is uniuqe'
'1 Primary Key'                  'More than 1 Unique Key'
'creates clustered index'        'creates non clustred index by default'

# Clustered Vs Non-Clustered Index

In [ ]:
'Clustered Index'                                         'Non-Clustred Index'
Determines how values are stored in table.         Is created at a different place.
Query is faster.                                   Query -> slower as it always looks at the original table.
A table can have only Clustered Index.             Can have multiple clustered index.

In [ ]:
## A clustered Index can have multiple columns within it.

Create Clustered Index IX_TableName_IndexName
on TableName (Gender DESC, Salary ASC)

# Types of SQL statements

In [ ]:
1. DDL (Definition)  ---> 'creates and holds entire structure of database object'
2. DML (Manipualtion) ----> helps to insert, update, retrieve delete records in a database
3. DCL (Control)   -----> 'manages visibilty of data and ensures data security when multiple users uses a db
4. TCL (Transaction Control)  -------> manages transaction

In [ ]:
DDL -----> CREATE, DROP, TRUNCATE, ALTER
DML -----> INSERT, SELECT, UPDATE, DELETE
DCL -----> GRANT, REVOKE
TCL -----> ROLLBACK, COMMIT

# Cursors in SQL

In [ ]:
Cursors are pointer to rows. 
Helps in accessing a result on row by row basis.

# Triggers in SQL

In [ ]:
Triggers in SQL are procedures
that initiates a set of action
when an even (Insert, Update, Delete) occurs.

# Stored Procedures

In [ ]:
A stored procedure is a prepared SQL code that you can save, 
so the code can be reused over and over again.

So if you have an SQL query that you write over and over again, 
save it as a stored procedure, and then just call it to execute it.