# Normalisation

It's the process of organising data into a database to avoid :-

1. Redundancy
2. Updation Anamoly
3. Insertion Anamoly
4. Deletion Anamoly`

In [ ]:
empid     name    dept    add

1       A         d1      aa1
1       A         d6      aa1
2       C         d2      a2
2       D         d2      a2
3       E         d4      a4
4       F         d2      a3

In [ ]:
'Redudancy' :- emp A entry is made many a time. Just because he works in two dept.
'Updation Anamoly' :- If you want to update the address of emp1, you need to do it at every place.
'Insertion Anamoly' :- If you want to add some trainee, whose dept. isn't alloted.
'Deletion Anamoly'

# 1 NF

In [ ]:
### Each coloum must have a single attribute.

id   item   colour
1     A      Green, Blue, Red
2     B      Pink, Orange

## Not in 1 NF. Colour column has multiple attribute.

In [ ]:
id   item   colour
1     A      Green
1     A      Blue
1     A      Red
2     B      Pink
2     B      Orange

## A relation in a Relational Database is always and at least in 1NF form.

# 2NF

In [ ]:
### No partial dependency. 
### No non prime attribute should depend upon any proper subset of candidate key.

In [ ]:
# Partial Dependency 

A   ---------------------------->>> B
Prime                       Non-Prime Attribute
But not candidate key
##When a non-prime attribute depends upon a part of candidate Key
##Rather than the entire candidate key it is called as Partial Dependency.

In [ ]:
# Candidate Key :- 
Studentno      StudentName       StudentPhone      Class

The minimal set of attribute that can uniquely identity a tuple -----> Candidate Key 


Studentno + StudentName   --------> Class
Studnetno + StudnetPhone  --------> StudentName
Studentphone + class      --------> Student Name

These can also identify a tupple. 

# Prime/Key Attribute :- 
Attributes that are a part of 'any' candidate key is called as Prime Attribute.

#Non-Prime Attribute
Attributes not a part of 'any' candidate key is called as Non-Prime Attribute.

In [ ]:
CustomerId     StoreId     Location
1               3           Patna
1               3           Patna
2               4           Noida
4               11          Agra
5               8           Delhi
3               8           Delhi

Here, CustomerId + StoreId is determining Location.
[CustomerID + StoreId] ----------------------->>>>>>> Candidate Key

Prime Attributes :- CustomerId, StoreId
Non Prime Attributes :- Location

## Non Prime Attribute[Location] is dependent on a subset of Prime Attribute[StoreId]

In [ ]:
Solution :- 
    
    
CustomerId     StoreId              StoreId       Location
1               3                      3             Patna         
1               3                      4             Nodia   
2               4                      11            Agra
4               11                     8             Delhi
5               8           
3               8

## If a Relation has only singleton candidate keys( i.e. every candidate key consists of only 1 attribute), 
## then the Relation is always in 2NF( because no Partial functional dependency possible).

# 3NF

There should be no functional transitive dependency.

X -----> Y
Either 
X should be super-key.
Y should be a prime attribute.

# Super Key
Candidate Key plus any number of other key is called as superkey.

A candidate key is super key.

But vice-versa is not true.

In [ ]:
BookId    Genre Id     GenreType      Price
1           34            Fiction         232
1           65            Political       878
2           43            Sports          322

BookId is determining GenreId which is in turn determining GenreType.

BookId------>GenreId------>GenreType
[BookId + GenreId] ----------------->>>>>> GenreType

## [BookId + GenreId] ------------>>>>>>>>>> GenreType
Neither X[Book Id] is super Key.  [C.K + plus any number(even 0) of key is SuperKey]
Nor Y[GenreType] is Prime Attribute.

In [ ]:
BookId     GenreId    Price             GenreId        GenreType
1           34      232                 34              Fiction
2           43      322                 43              Sports

## If all attributes of relation are prime attribute, then the relation is always in 3NF.

# BCNF (3.5 NF)

In [ ]:
Student -------->> Course ------------>> Teacher
X                   DBMS                  Amit
X                   WEb                   Ram
Y                   DBMS                  Apporva

Teacher -----> Course
Teacher is determining course. and Teacher is not superkey.

[Student+Course] --------->> Teacher

In [ ]:
For X---------->>>> Y

X should strictly be superkey.

In [ ]:
Student       Course            Course         Teacher
X              DBMS             DBMS            Amit
X              Web              Web             Ram
Y              DBMS             DBMS            Apoorva

## Every Binary Relation ( a Relation with only 2 attributes ) is always in BCNF.

#### BCNF is free from redundancy.

# 4NF

## No non-trivial multi valued dependencies.

In [ ]:
Stundent          Majors           Hobby
1                  CSE              Cricket
1                  CSE              Football
1                  CSE              Singing
4                  ECE              Cricket
4                  BVCD             Cricket

Student is determining Majors as well as Hobby.

In [ ]:
Student            Majors                Student      Hobby

# 5 NF

In [ ]:
1. Break the tables further into multiple tables.

2. When composed back :-
    No data is created
    No data is lost
    
Seller      Company         Product
Aman         Coca            ThumsUp
Aditya       Unilever        Ponds
Aditya       Unilever        Lakme
Abhinav     P&G              Vicks
Abhinav     Pepsico          Pepsi

In [ ]:
Seller      Company         Seller         Product
Aman         Coca            Aman          ThumsUp
Aditya       Unilever        Aditya        Ponds
Aditya       Unilever        Aditya        Lakme
Abhinav     P&G              Abhinav       Vicks
Abhinav     Pepsico          Abhinav       Pepsi